language: python
python:
  - "3.4"
before_install:
  - "sudo apt-get update"
  - "sudo apt-get install realpath"
install:
  - "pip install coveralls"
  - "pip install sh"
  - "git config --global user.email 'travis@xd-embedded.org'"
  - "git config --global user.name 'Travis CI'"
script: "./test.sh"
after_success:
  - coveralls
notifications:
  irc: "chat.freenode.net#xd-embedded"
